*{
    margin: 0px;
    padding: 0px;
    font-family: 'Black Ops One', cursive;
}
.Body {
    background-color: #071330;
}

.cursor{
    height: 2rem;
    width: 2rem;
    border: 2px solid aqua;
    background-color: transparent;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    z-index: 9999;
    transition: opacity .75s ease, transform 0.2s ease;
}

.head:hover ~ .cursor {
    opacity: 0;
}


.bg-video{
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: -100;
    min-width: 100%;
    min-height: 100%;
}

.head{
    height: 9vh;
    width: 80vw;
    /* position: relative; */
    display: flex;
    margin-top: .65rem;
    justify-content: space-evenly;
    justify-self: center;
    align-items: center;
    background: transparent;
}
.cross{
    color: white;
    padding: 0rem .5rem;
    align-self: center;
    font-size: 1.75rem;
    opacity: .75;
    cursor: default;
}

h4{
    color: white;
    font-size: 1.65rem;
    opacity: .75;
    letter-spacing: .2rem;
    text-underline-offset: .45rem;
    cursor: pointer;
}

.animated-underline-3{
  position: relative;
  cursor:pointer;
}

.animated-underline-3::after {
  content: '';
  position: absolute;
  width: 0;
  height: .17rem;
  background-color:white;
  display: block;
  top: 1.95rem;
  left: 0;
  transition: width .75s ease;
}

.animated-underline-3:hover::after {
  width: 100%;
}

.head-about h4:hover, .head-project h4:hover, .head-skill h4:hover, .head-education h4:hover{
    opacity: 1;
}

.head-about:hover .cross, .head-project:hover .cross, .head-skill:hover .cross, .head-education:hover .cross {
    opacity: 1;
    transform: rotate(45deg);
    transition: 0.1s ease-in;
}

.body{
    height: 100vh;
    width:80vw;
    display: flex;
    flex-direction: column;
    justify-self: center;
}

.homepg{
    height: 45.5rem;
    width: 100%;
    background:transparent;
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin-bottom: 5rem;
}

.homepg-1{
    height: 20rem;
    width: 34rem;
    margin-bottom: 10rem;
    align-self: center;
    justify-self: flex-start;
}

.homepg-1 span{
    font-size: 7rem;
    line-height: 7rem;
}

#frontend{
    color: aqua;
}

#homepg-1-span2{
    margin-left: 2.5rem;
}


.typing{
    display: inline-block;
    width: 45ch;
    overflow: hidden;
    white-space: nowrap;

    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: .75rem;
    letter-spacing: .05rem;
    font-family: "Iceland";

    border-right: .15rem solid white;

    animation:
      typing 3.5s steps(45, end),
      blink-caret .75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to   { width: 45ch }
}

@keyframes blink-caret {
  50% { border-color: transparent; }
}



.animated-underline-1 {
  position: relative;
  cursor: pointer;
}

.homepg-1 p:hover{
    opacity: 1;
}

.animated-underline-1::after {
  content: '';
  position: absolute;
  width: 0;
  height: .25rem;
  background-color:white;
  display: block;
  bottom: 1rem;
  left: 0;
  transition: width .75s ease;
}

.animated-underline-1:hover::after {
  width: 100%;
}


.animated-underline-2{
  position: relative;
  cursor:pointer;
}

.animated-underline-2::after {
  content: '';
  position: absolute;
  width: 0;
  height: .25rem;
  background-color:white;
  display: block;
  bottom: 1rem;
  right: 0;
  transition: width .75s ease;
}

.animated-underline-2:hover::after {
  width: 100%;
}

.homepg-2{
    align-self: center;
    margin-top: 30rem;
    width: 37rem;
    height: 15rem;
}

.span-txt-1{
    color: aqua;
    padding-bottom: 1.75rem;
    height: 1rem;
}
.span-txt-2{
    padding-top: 0.95rem;
    color: aqua;
}

.homepg-2 p{
    padding-left: 2.5rem;
    line-height: 2rem;
    height: 5.25rem;
    opacity: .75;
    margin-top: -0rem;
    font-family: "iceland";
    font-size: 1.75rem;
    transition: 0.2s ease-in-out;
}

.homepg-2 p:hover{
    opacity: 1;
    
}

.about{
    display: flex;
    flex-direction: column;
    height: 46.5rem;
    width:80vw;
    padding-top: 5rem;
    justify-content: center;
    background: transparent;
    cursor: default;
}

.about-1{
    height: 15rem;
    cursor: default;
}

.about-1 h4{
    line-height: rem;
    font-size: 3.7rem;
    font-family: "Iceland";
    margin-bottom: 1rem;
    cursor: default;
}

.about-2{
    padding-bottom: .75rem;
    cursor: default;
    font-size: 1.5rem;
}

.about-3{
    width: 100%;
    border-top: .12rem solid white;
    padding-bottom: 1rem;
    cursor: default;
}


.about-4{
    display: flex;
    cursor: default;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.about-4-intro{
    width: 50%;
    padding-right: 1rem;
    cursor: default;
}

.about-4-intro h4{
    margin-bottom: 1rem;
    font-size: 3rem;
    cursor: default;
    font-family: "Iceland";
}

.about-4-intro p{
    font-family: "Iceland";
    margin-top: 1.5rem;
    font-size: 2rem;
    cursor: default;
}

.about-4-para{
    width: 50%;
    cursor: default;
}

.about-4-para-1{
    font-family: "Iceland";
    font-size: 2rem;
    padding: 0rem 0rem 1rem 0rem;
    cursor: default;
}

.about-4-para-2{
    font-family: "Iceland";
    font-size: 2rem;
    cursor: default;
    margin-top: .5rem;
}
.about-5{
    justify-self: center;
    padding-bottom: 10rem;
}
.about-5 h4{
    margin-top: 5rem;
    font-size: 3.7rem;
    font-family: "Iceland";
    justify-self: center;
}

.tech-stack{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 3rem;
}

.tech-stack-head, .experience-head, .project-head{
    width: 100%;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5rem;
}

.rotate-img{
    width: 2rem;
    height: 2.3rem;
    animation: spin 1.75s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.tech-stack-head h4, .experience-head h4, .project-head h4{
    margin-left: 1rem;
    justify-self: center;
    justify-content: center;
    align-self: center;
    align-content: center;
}

.tech-stack-frontend, .tech-stack-tools, .tech-stack-studing{
    display: flex;
    width: 100%;
    height: 21.5rem;
    justify-content: space-between;
    opacity: .5;
    transition: .3s ease-in-out;
}

.tech-stack-tools, .tech-stack-studing{
    padding-bottom: 10rem;
}

.tech-stack-tools:hover, .tech-stack-frontend:hover, .tech-stack-studing:hover{
    scale: 1.07;
    opacity: 1;
}

.tech-stack-frontend h2, .tech-stack-tools h2, .tech-stack-studing h2{
    font-size: 3rem;
    font-family: "Iceland";
    color: white;
    height: 3rem;
    letter-spacing: .25rem;
    margin-left: 10rem;
}

.tech-stack-frontend-div, .tech-stack-tools-div, .tech-stack-studing-div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
    height: 10%;
    row-gap: 2.75rem;
    column-gap: 1rem;
}

.tech-stack-frontend-div-html{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: auto;
}
.tech-stack-frontend-div-css{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: auto;
}
.tech-stack-frontend-div-js{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: auto;
}
.tech-stack-frontend-div-react{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: auto;
}
.tech-stack-frontend-div-tailwindcss{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    margin-left: 1.5rem;
    width: auto;
}

.tech-stack-tools-div-git{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: auto;
}

.tech-stack-tools-div-github{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: auto;
}

.tech-stack-tools-div-vscode{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: auto;
}

.tech-stack-studing-div-nodejs{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: auto;
}

.tech-stack-studing-div-mongodb{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
    width: auto;
}

.tech-stack-img{
    height: 2.5rem;
    width: 2.5rem;
}

.tailwind-img{
    width: 2.5rem;
    height: 1.5rem;
}

.experience-1{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 8.5rem;
}

.experience-1 p{
    font-size: 2rem;
    font-family: "Iceland";
    color: white;
    display: block;
    letter-spacing: .25rem;
}

.experience-1 h2{
    font-size: 3rem;
    letter-spacing: .25rem;
    color: white;
    font-family: "Iceland";
    margin: 0.875rem 0rem;
}

.experience-container-1, .experience-container-2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8.5rem;
    margin-left: 10rem;
    margin-bottom: 5rem;
    opacity: .5;
    transition: .3s ease-in-out;
}
.experience-container-1:hover, .experience-container-2:hover{
    scale: 1.095;
    opacity: 1;
}

.experience-container-1 h1, .experience-container-2 h1{
    font-size: 4rem;
    align-content: space-around;
    font-family: "Iceland";
    color: white;
}

.experience-container-div{
    border-right: .2rem solid white;
    height: 100%;
    padding-right: 1rem;
    margin-right: 1rem;
}

.project{
    display: flex;
    flex-direction: column;
    height: 47.8rem;
    width: 100%;

}

.project-1{
    height: 4rem;
    width: 100%;
    padding-bottom: 1.25rem;

}

.project-1-div{
    display: flex;

}